 <header class="flex">
            <h2 class="title">{{title}}</h2>
            <ul class="flex">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                {{!-- <li><a href="/help">Help</a></li> --}}
            </ul>
</header>